* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
}

.startBtn {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.384);
    font-family: fantasy;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    background-image: url(./background.jpg);
    background-size: cover;
}

.myShip {
    position: absolute;
    bottom: 9%;
    width: 200px;
    height: 30px;
    left: 20%;
    background: rgb(126, 39, 39);
    border: 4px solid red;
    border-radius: 15px;
}

.fireme {
    position: absolute;
    top: 0;
    left: 10%;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: red;

}

.container {
    width: 100%;
    height: 100vh;
    background-color: black;
}


.alien {
    position: absolute;
    display: inline-block;
    top: 0;
    left: 0;
    width: 80px;
    height: 50px;
    padding: 5px;
    color: white;
    background-color: blue;
    box-shadow: 0px 1px 8px 0px black;
    font-size: 1em;
    text-align: center;
    border-radius: 10px;
}

.eye {
    position: absolute;
    width: 20px;
    border-radius: 25%;
    color: black;
    height: 20px;
    background-color: aliceblue;
}

.eye::after {
    content: "\2022";
}

.mouth {
    position: absolute;
    width: 70%;
    height: 2px;
    bottom: 10px;
    left: 10%;
    border: 4px dotted white;
    background-color: black;
}

.score {
    position: absolute;
    top: 10px;
    left: 40%;
    color: red;
    font-size: 5rem;
    font-weight: bold;
}

.gameMessage {
    position: absolute;
    width: 100%;
    height: 40vh;
    top: 200px;
    background: #00f2fa4d;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 3px;
}

.hide {
    display: none;
}

